<nav id="header-slim" class="navbar navbar-default">

  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <p id="nist-menu-tab" class="pull-left"><a href="https://www.nist.gov"></a></p>
      <a class="navbar-brand" href="/">{{ site.name }}</a>
    </div>

    <div id="siteNavbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navbar-collapse">
        <li id="data-portal">
          <a class="navbar-normal" href="https://data.nist.gov">Data Portal</a></li>
        <li id="explore"
          {% if page.url == "/explore/" %} class="active"
          {% endif %}><a class="navbar-normal" href="/explore/">Explore</a></li>

        <li id="about"
            {% if page.url == "/about/" %} class="active dropdown"
            {% else %} class="dropdown"
            {% endif %}><a class="navbar-normal" href="/about/">About</a>
          <div class="dropdown-content">
            <p><a class="navbar-normal" href="/about/using-github/">Using GitHub</a></p>
            <p><a class="navbar-normal" href="/about/contributing/">Contributing</a></p>
            <p><a class="navbar-normal" href="/about/licenses/">Licenses Guide</a></p>
          </div>
        </li>
        <li id="github"><a href="https://github.com/usnistgov"><span class="fa fa-github fa-lg"></span></a></li>
      </ul>
    </div>

  </div>
</nav>
