<!DOCTYPE html>
<html lang="en" ng-app="app">

    {% include head.html %}

    <body ng-controller="gitHubDataController">

        {% include header.html %}

        <div>
            <div style="background-image: url('https://data.nist.gov/sdp/assets/images/sdp-background.jpg'); background-position-y: 65%; background-repeat: no-repeat;background-size: 100%;"><div class="banner"></div></div>
        </div>

        <div class="container">
            {{ content }}
        </div>

        {% include footer.html %}

        {% include scripts.html %}

    </body>
</html>
